@import '../../styles/utils/colors';
@import '../../styles/utils/_breakpoints.scss';

.selectionBox{
    position: relative;
    width: 160px;
    overflow: hidden;
    padding: 8px 8px 10px 8px;
    margin: 0 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: solid 1px $elephant-paw;
    border-radius: 5px;
    text-align: center;
    
    &__image {
      display: block; 
      width: inherit; 
    }

    &__text {
      font-size: 1em; 
      font-weight: 600;

      @media only screen and (max-width: $tablet) {
        margin-left: 10%;
      }
    }

    input { position: absolute; left: 4px;}

    @media only screen and (max-width: $tablet) {
      width: 40%;
      max-width: 230px;
      margin:1%;
      &__image {
        margin:5%;
        width: 90%; 
      }

      &__checkboxTextContainer{
        margin:5%;
        width: 90%; 
        display: flex;
        justify-content: flex-start;
      }
      input { position: relative; left:1px;}
    }
  }