@import '../../styles/utils/colors';
@import '../../styles/utils/breakpoints';

.submitButton{
  color: white;
  line-height: 50px;
  font-size: 20px;
  border-radius: 25px;
  font-weight: 600;
  background-color: $grass-blade;
  padding: 0 2em;
  cursor: pointer;


  display: flex;
  justify-content: center;

  @media only screen and (min-width: $mobile) {
    width:6rem;
  }

  &--disabled{
    background-color: rgb(187, 184, 184);
  }

  &__container{
    display: flex;
    align-items: center;
  }
  
  &__loader{
    height:25px;
    margin-left:2px;
  
    animation: rotation 1s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}

